<!DOCTYPE html>
<html>  
    <head>
        <title>User Profiles</title>
    </head>
    <body>
        <h2>Users Data (File-Based Cache Demo)</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subscribers</th>
        </tr>
        {% for user in user_profiles %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.subscribers }}</td>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>